*.o
libcomm/libcomm.a
term/termcomm
server/svrcomm
fifo/fifocomm
gui/guicomm
gui/freetype6.dll
gui/libatk-1.0-0.dll
gui/libcairo-2.dll
gui/libexpat-1.dll
gui/libfontconfig-1.dll
gui/libgdk-win32-2.0-0.dll
gui/libgdk_pixbuf-2.0-0.dll
gui/libgio-2.0-0.dll
gui/libglib-2.0-0.dll
gui/libgmodule-2.0-0.dll
gui/libgobject-2.0-0.dll
gui/libgthread-2.0-0.dll
gui/libgtk-win32-2.0-0.dll
gui/libpango-1.0-0.dll
gui/libpangocairo-1.0-0.dll
gui/libpangoft2-1.0-0.dll
gui/libpangowin32-1.0-0.dll
gui/libpng14-14.dll
gui/zlib1.dll
