*.o
libcomm/libcomm.a
term/termcomm
glade/guicomm
server/svrcomm
fifo/fifocomm
glade/freetype6.dll
glade/libatk-1.0-0.dll
glade/libcairo-2.dll
glade/libexpat-1.dll
glade/libfontconfig-1.dll
glade/libgdk-win32-2.0-0.dll
glade/libgdk_pixbuf-2.0-0.dll
glade/libgio-2.0-0.dll
glade/libglib-2.0-0.dll
glade/libgmodule-2.0-0.dll
glade/libgobject-2.0-0.dll
glade/libgthread-2.0-0.dll
glade/libgtk-win32-2.0-0.dll
glade/libpango-1.0-0.dll
glade/libpangocairo-1.0-0.dll
glade/libpangoft2-1.0-0.dll
glade/libpangowin32-1.0-0.dll
glade/libpng14-14.dll
glade/zlib1.dll
