/*
 * vim: ft=c
 */
#include <windows.h>
#include "gft.h"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

IDI_ICON_GFT  ICON   "../../icons/gft.ico"

VS_VERSION_INFO   VERSIONINFO
	FILEVERSION     1,0,0,0
	PRODUCTVERSION  1,0,0,0
	FILEOS          VOS_NT
	FILETYPE        VFT_APP
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904E4"
		BEGIN
			VALUE "CompanyName",      "MicRobSoft\0"
			VALUE "FileDescription",  "Comm File Transfer\0"
			VALUE "InternalName",     "gft\0"
			VALUE "LegalCopyright",   "GPL v3 or later\0"
			VALUE "OriginalFilename", "gft.exe\0"
			VALUE "ProductName",      "GFT\0"
			VALUE "FileVersion",      "1.0\0"
			VALUE "ProductVersion",   "1.0\0"
			VALUE "Build",            __DATE__ "\0"
			VALUE "Comments",         "The Game lolz\0"
			VALUE "Developer",        "Grobocop\0"
			VALUE "LegalTrademarks",  "All rights reserved?\0"
			VALUE "Support",          "None, you'll never take me alive!\0"
		END
	END

	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x409, 1252 /* english */
	END
END
